name: backend-cd

on:
  push:
    paths:
      - "backend/**"
      - ".github/**"
      - "docker-compose.yml"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build JAR with Maven
        run: cd backend && mvn -B clean package -DskipTests

      - name: Build Docker image
        run: docker build -t masaya0807/plant-watering-system:latest ./backend

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}


      - name: Push to Docker Hub
        run: docker push masaya0807/plant-watering-system:latest
